modal
fastapi[standard]==0.115.12
python-multipart==0.0.20
torch==2.7.1
torchvision==0.22.1
git+https://github.com/huggingface/transformers.git@v5.0.0rc0
accelerate
huggingface_hub
imageio==2.37.0
imageio-ffmpeg==0.6.0
av==15.0.0
numpy==2.2.6
pillow==11.3.0
